.hero-img {
	width: 20em;
	height: 20em;
	background: white;
	border: 5px solid rgb(6, 255, 214);
	border-radius: 50%;
	object-fit: cover;
}

.external-links a {
	color: white;
	font-size: 1.2em;
}

.external-links a:hover {
	color: rgb(6, 255, 214);
}
