.wrapper {
	height: 100vh;
}

.columns {
	height: 100%;
}

.project-card-body {
	display: grid;
	align-items: end;
}

.card-title-overlay {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 1em;
}
