.projects-wrapper {
	max-width: 1400px;
}

.columns {
	height: 100%;
}

.project-container {
	height: 435px;
}

.project-card-body {
	display: grid;
	align-items: end;
}

.card-title-overlay {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 1em;
}

.project-link {
	text-decoration: none;
}

@media (min-width: 700px) {
	.projects-2 {
		height: 300px;
	}
	.projects-3 {
		height: 200px;
	}
	.projects-4 {
		height: 350px;
	}
	.projects-5 {
		height: 350px;
	}
}
