@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

:root {
    --dark-red: rgb(155, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* Buttons */
.btn {
    background: var(--dark-red);
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    cursor: pointer;
    text-shadow: none;
    border: none;
}

/* Navbar */
.navbar {
    background-color: #fcedea;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 4rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding: 1em 3em;
    width: 100%;
}
.navbar ul li {
    margin: 0;
    font-size: 1em;
}
.navbar ul li a {
    font-weight: bold;
}
.navbar ul li span {
    display: none;
}
.nav-icon {
    margin: 0 0.3rem;
}

.navbar a {
    font-weight: 300;
    color: black;
    text-decoration: none;
    -webkit-transition: color 300ms;
    -webkit-transition: margin-left 300ms;
    transition: color 300ms;
    transition: margin-left 300ms;
}

.navbar a:hover {
    color: var(--dark-red);
    -webkit-transition: color 300ms;
    transition: color 300ms;
}

.navbar .vert-nav-link.active {
    color: var(--dark-red);
}
@media (min-width: 450px) {
    .navbar ul li span {
        display: unset;
    }
    .navbar ul li {
        font-size: 0.9em;
    }
    .nav-icon {
        margin-right: 0.3rem;
    }
}
@media (min-width: 768px) {
    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 17%;
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
    }
    .navbar ul {
        margin: 0;
        margin-left: 0.5em;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20vh;
        align-items: flex-start;
        font-size: 1.2em;
    }
    .nav-icon {
        margin-right: 1rem;
    }
    .navbar ul li a {
        position: relative;
    }
    .navbar ul li a:before {
        content: '';
        position: absolute;
        height: 3px;
        width: 2.5em;
        left: 5px;
        bottom: -3px;
        background-color: white;
    }
    .nav-icon {
        padding: 0;
        margin-right: 0.3rem;
    }
    .navbar a:hover {
        margin-left: 0.6rem;
        -webkit-transition: margin-left 300ms;
        transition: margin-left 300ms;
    }
}

/***** HOME *****/
.home-container {
    background-color: rgba(223, 223, 252, 0.2);
}

/***** ABOUT  *****/
.about-wrapper {
    min-height: 100vh;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url('./img/background.jpg');
    background-size: contain;
    padding: 4em;
}
.about-wrapper .container {
    margin: auto;
}
.about-img-wrapper {
    text-align: center;
}
.about-img {
    border-radius: 12px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 3em;
}

.about-content .headline,
.about-content .headline span {
    font-family: 'Merriweather', serif;
}

.about-content .headline {
    font-size: 2em;
    font-weight: lighter;
}

.about-content .headline span {
    font-size: 1.7em;
    font-weight: bold;
    position: relative;
}
.about-content .headline span:before {
    content: '';
    position: absolute;
    background-color: #dd1414;
    /* background-color: var(--dark-red); */
    height: 0.1em;
    left: 0.3em;
    bottom: 0.2em;
    width: 90%;
    opacity: 0.75;
    z-index: -1;
}
.about-links-container {
    font-size: 1.3em;
    margin-top: 1em;
    font-weight: lighter;
}
.about-link {
    padding-right: 1em;
}
.links-wrapper {
    margin-top: 0.5em;
}
.about-content .desc {
    margin-top: 2em;
    font-size: 1.2em;
    line-height: 1.7em;
}
.about-links-container a {
    text-decoration: none;
    color: var(--dark-red);
}
.about-links-container a:hover {
    color: #dd1414;
}
.more-about {
    -webkit-transition: margin-left 300ms;
    transition: margin-left 300ms;
}
.more-about:hover {
    margin-left: 0.6rem;
    -webkit-transition: margin-left 300ms;
    transition: margin-left 300ms;
    text-decoration: none;
}
.desc a {
    text-decoration: none;
    color: var(--dark-red);
    font-weight: bold;
    display: block;
    margin-top: 0.5em;
    font-size: 1.1em;
}
.desc a:hover {
    color: #dd1414;
}
.desc strong {
    font-size: 1.3em;
}
@media (min-width: 450px) {
    .about-content .about-links-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links-wrapper {
        margin: auto 0;
    }
}
@media (min-width: 550px) {
    .about-img-wrapper {
        text-align: unset;
    }
}
@media (min-width: 768px) {
    .about-wrapper {
        display: grid;
        place-content: center;
        padding-left: 15%;
    }
    .about-wrapper .container {
        display: flex;
    }
    .about-img-wrapper {
        margin: auto 2em;
    }
    .about-img {
        margin-bottom: 0;
    }
    .sub-about-content {
        display: flex;
        flex-direction: column;
    }
    .about-content .headline {
        margin: 0;
        font-size: 2.4em;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-content .desc {
        margin-bottom: 2em;
    }
}
@media (min-width: 1250px) {
    .about-wrapper .container {
        max-width: 1050px;
    }
    .about-img-wrapper {
        flex-basis: 100%;
        margin: auto 0;
        margin-right: 2em;
    }
    .about-content .headline {
        font-size: 2.7em;
    }
}

/***** PROEJCTS *****/
.projects-wrapper {
    background-image: linear-gradient(
            rgba(196, 193, 193, 0.75),
            rgba(196, 193, 193, 0.75)
        ),
        url('./img/background.jpg');
    background-size: contain;
    min-height: 500px;
    padding: 5em 0;
}

.projects-wrapper .container {
    margin: auto;
    padding: 0 2em;
}
.project-item-wrapper {
    margin-bottom: 4em;
}
.project-item-inner {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 2em;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 1);
}
.project-item-inner .project-title {
    font-size: 2.4em;
}

.project-desc {
    font-size: 1.3em;
    font-weight: lighter;
}
.project-btn,
.git-btn {
    background-color: var(--dark-red);
    padding: 0.5em 1.5em;
    min-width: 10em;
    font-size: 1.2em;
    margin-top: 0.6em;
    border: none;
    color: white;
    font-weight: lighter;
    border-radius: 6px;
}
.project-btn:hover,
.git-btn:hover {
    background-color: #dd1414;
}

@media (min-width: 768px) {
    .projects-wrapper {
        margin: inherit 4em;
    }
    .projects-wrapper .container {
        width: 75%;
        padding: 0;
        margin: auto 3em;
        margin-left: 18%;
        display: grid;
        grid-template-columns: repeat(2, 46%);
        justify-content: space-between;
        column-gap: 3.3em;
        row-gap: 1em;
    }
    .project-item-wrapper {
        font-size: 0.8em;
    }
    .project-item-inner {
        height: 325px;
        justify-content: center;
    }
    .project-item-inner .project-title {
        font-size: 2em;
    }
    .project-btn {
        margin-top: 1.5em;
    }
}

@media (min-width: 900px) {
    .project-item-wrapper {
        font-size: 0.9em;
    }
}
@media (min-width: 1200px) {
    .project-item-inner .project-title {
        font-size: 2.4em;
    }
}

/***** CONTACT *****/
.contact-wrapper {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url('./img/background.jpg');
    background-size: cover;
    background-position: contain;
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}
.contact-wrapper .container {
    height: 100%;
    width: 80%;
    text-align: center;
}
.contact-item {
    margin-bottom: 1em;
}
.contact-item-icon {
    color: var(--dark-red);
}
.contact-item-icon:hover {
    color: #dd1414;
}

@media (min-width: 768px) {
    .contact-wrapper {
        display: grid;
        place-content: center;
        padding-left: 10%;
    }
    .contact-wrapper .container {
        display: flex;
        justify-content: center;
    }
    .contact-item {
        width: 100%;
        padding: 0;
        margin: 0 1.5em;
    }
}
@media (min-width: 1800px) {
    .contact-wrapper {
        padding-left: 5%;
    }
}

/* Footer */
footer {
    width: 100%;
    background-color: #f0f0f0;
}
footer .container {
    margin-left: 1em;
    margin-bottom: 5em;
    padding: 2.5em 0 0.5em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-name h1 {
    color: var(--dark-red);
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
.footer-contact {
    margin-top: 1em;
    font-size: 1.3em;
}
.footer-contact a {
    text-decoration: none;
    color: var(--dark-red);
    font-weight: 200;
}

.footer-email {
    -webkit-transition: padding-left 300ms;
    transition: padding-left 300ms;
}
.footer-email:hover {
    padding-left: 0.6rem;
    -webkit-transition: padding-left 300ms;
    transition: padding-left 300ms;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.6rem;
}
.footer-link {
    padding-right: 1.6rem;
    font-size: 1.2em;
}

.footer-location {
    font-weight: 200;
    font-size: 1.4em;
    margin-top: 2em;
    line-height: 1rem;
    color: var(--dark-red);
}

@media (min-width: 768px) {
    footer .container {
        margin: 0;
        padding: 2em 3em;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer-name h1 {
        margin: 0;
    }
    .footer-email {
        display: none;
    }
    .footer-contact {
        margin: 0;
    }
    .footer-links {
        justify-content: center;
    }
    .footer-link {
        padding: 0 0.5em;
    }
    .footer-location {
        margin: 0;
        text-align: right;
    }
    .footer-location p {
        margin: 1em;
    }
}
@media (min-width: 1050px) {
    .footer-email {
        display: unset;
    }
}
