@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

:root {
    --offset: 8%;
    --dark-red: rgb(155, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Buttons */
.btn {
    background: var(--dark-red);
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    cursor: pointer;
    text-shadow: none;
    border: none;
}

/* Navbar */
.vert-navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2em;
}

.vert-navbar ul {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.vert-navbar ul li {
    margin-top: 1rem;
}

.vert-navbar a {
    font-weight: 300;
    color: black;
    text-decoration: none;
    -webkit-transition: color 300ms;
    -webkit-transition: margin-left 300ms;
    transition: color 300ms;
    transition: margin-left 300ms;
}

.vert-navbar a:hover {
    margin-left: 0.6rem;
    color: var(--dark-red);
    -webkit-transition: color 300ms;
    -webkit-transition: margin-left 300ms;
    transition: color 300ms;
    transition: margin-left 300ms;
}

.nav-icon {
    margin-right: 1rem;
}

.vert-navbar .vert-nav-link.active {
    color: var(--dark-red);
}

@media (max-width: 768px) {
    .vert-navbar {
        background-color: #fcedea;
        position: fixed;
        width: 100%;
        height: 5rem;
        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        padding: 1rem 0;
    }

    .vert-navbar ul {
        width: 100%;
        margin: 0rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
    .vert-navbar ul li {
        margin: 0;
    }
    .nav-icon {
        margin-right: 0.3rem;
    }
}

@media (max-width: 510px) {
    .vert-navbar {
        background-color: #fcedea;
        position: fixed;
        width: 100%;
        height: 7rem;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        padding: 1rem 0;
    }
    .vert-navbar ul {
        width: auto;
        margin: auto;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
}

/* Home */
.home-container {
    background-color: rgba(223, 223, 252, 0.2);
}

/* About Section */
.about-wrapper {
    min-height: 100vh;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url('./img/background.jpg');
    background-size: cover;
    background-position: contain;
}

@media (min-width: 768px) {
    .about-wrapper .container {
        max-width: 60%;
    }
}
@media (max-width: 768px) {
    .about-img {
        width: auto;
        margin: auto;
    }
}
.about-content h3 {
    font-family: 'Merriweather', serif;
}
.about-links-container a {
    text-decoration: none;
    color: var(--dark-red);
}

.more-about {
    -webkit-transition: margin-left 300ms;
}
.more-about:hover {
    margin-left: 0.6rem;
    -webkit-transition: margin-left 300ms;
    text-decoration: none;
}

/* Projects */
.projects-wrapper {
    background-image: linear-gradient(
            rgba(196, 193, 193, 0.75),
            rgba(196, 193, 193, 0.75)
        ),
        url('./img/background.jpg');
    background-size: cover;
    background-position: contain;
    min-height: 500px;
}

.project-item {
    height: 350px;
    border-radius: 12px;
    box-shadow: 3px 5px 8px black;
}

/* Contact */
.contact-wrapper {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url('./img/background.jpg');
    background-size: cover;
    background-position: contain;
    min-height: 400px;
    margin-bottom: -20px;
}

.contact-inner {
    max-width: 75%;
}

.contact-item {
    border-radius: 12px;
    width: 250px;
    height: 175px;
    text-decoration: none;
    box-shadow: 3px 5px 10px black;
    font-size: 5em;
    transition-property: width, height, font-size;
    transition-duration: 300ms;
}

.contact-item:hover {
    width: 300px;
    height: 200px;
    font-size: 6em;
    transition-property: width, height, font-size;
    transition-duration: 300ms;
}

.contact-item:visited {
    color: black;
}

.contact-item-icon {
    color: var(--dark-red);
    margin: 0.5rem 0;
}

.contact-page {
    min-height: 100vh;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url('./img/background.jpg');
    background-size: cover;
    background-position: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    width: 100%;
    height: 8rem;
    font-size: 0.8em;
    background-color: rgb(189, 186, 186);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: space-between;
    align-items: center;
}
.footer-name {
    margin: auto;
}
.footer-name h1 {
    color: var(--dark-red);
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
.footer-contact {
    margin: auto;
    font-size: 1.4em;
}
.footer-contact a {
    text-decoration: none;
    color: var(--dark-red);
    font-weight: 200;
}

.footer-email {
    -webkit-transition: padding-left 300ms;
}
.footer-email:hover {
    padding-left: 0.6rem;
    -webkit-transition: padding-left 300ms;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
}
.footer-link {
    padding-right: 1.6rem;
    font-size: 1.2em;
}

.footer-location {
    margin: auto;
    font-weight: 200;
    font-size: 1.4em;
    line-height: 1.5rem;
    color: var(--dark-red);
}

@media (max-width: 768px) {
    footer {
        height: 10rem;
        margin-bottom: 5rem;
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-name h1 {
        font-size: 2.2em;
    }
    .footer-name,
    .footer-contact {
        margin: 0;
    }
    .footer-location {
        display: none;
    }
}
@media (max-width: 510px) {
    footer {
        margin-bottom: 7rem;
    }
}
