.wrapper {
	height: 100vh;
}

.columns {
	height: 100%;
}

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}

.bio-img {
	width: 100%;
	max-width: 350px;
	text-align: center;
	/* box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.12); */
	/* margin-bottom: 3em; */
}

.project-card-img {
	background: rgba(0, 0, 0, 0.65);
}

.project-card-footer {
	background-color: red;
	width: 100%;
}

.nav-links a {
	text-decoration: none;
}
