.projects-page-wrapper {
    min-height: 100vh;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url('./img/background.jpg');
    background-size: contain;
    padding: 4em 2em;
}

.project-showcase-wrapper {
    background: rgba(32, 86, 126, 0.8);
    background: linear-gradient(
        133deg,
        rgba(159, 203, 236, 0.55) 0%,
        rgba(85, 98, 156, 0.55) 83%
    );
    margin-bottom: 3em;
    padding-bottom: 0.25em;
    border-radius: 12px;
}

.project-showcase-wrapper .project-item-inner {
    box-shadow: none;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 2em;
}

.project-showcase-content {
    margin: 1em;
    padding: 1.5em;
    border-radius: 18px;
    font-size: 1.1em;
    background: rgb(235, 237, 238);
    background: linear-gradient(
        133deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.45) 20%,
        rgba(255, 255, 255, 0.66) 80%
    );
}

p.project-headline {
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .projects-page-wrapper {
        padding: 4em 0;
    }
    .projects-page-container {
        width: 90%;
        margin-left: auto;
        padding: 0 4em;
    }
    .project-showcase-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-bottom: unset;
    }
    .project-showcase-wrapper .project-item-inner {
        height: 100%;
        border-radius: 12px 0px 0px 12px;
        text-align: left;
    }
    .project-showcase-wrapper .project-item-inner button {
        padding: 0.4em 0.9em;
        min-width: 8em;
    }
}

@media (min-width: 1150px) {
    .projects-page-container {
        margin-left: 10%;
    }
}
@media (min-width: 1250px) {
    .projects-page-container {
        margin-left: 8%;
    }
}
